# Classifying each state into categories based on GDP, health, education, employment, and crime

In [65]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [66]:
# Importing the dataset
gdp= pd.read_csv('State_GDP_2014_2018.csv', delimiter=',')
unemp= pd.read_csv('State_Unemployment_2014_2018.csv', delimiter=';')
health= pd.read_csv('State_Health_2014_2018.csv', delimiter=';', decimal=",")
edu= pd.read_csv('State_Educational_Attainment_2014_2018.csv', delimiter=';')
crime= pd.read_csv('State_CrimeRates_per100k_2014_2018.csv', delimiter=';')

## Cleaning the Datasets

In [67]:
gdp.head()
years=['2014','2015','2016','2017','2018']
for y in years:
    gdp[y]=gdp.loc[:,gdp.columns.str.contains(y)].sum(axis=1)
gdp=gdp[['State']+years]
gdp.head()

      GeoName       2014       2015       2016        2017        2018
0     Alabama   759545.3   765340.9   777135.2    790266.5    803203.6
1      Alaska   216752.9   218963.4   216986.5    216518.1    212998.4
2     Arizona  1107795.8  1130307.9  1165100.9   1209821.5   1254474.9
3    Arkansas   446938.0   449403.9   451192.5    455540.6    463750.4
4  California  9024218.9  9429811.7  9711578.3  10167077.1  10574305.0

In [68]:
health=health.drop(['dropit'], axis=1)
health.head()

     Location  2018  2017  2016  2015  2014
0     Alabama  89.8  90.5  90.8  89.8  88.0
1      Alaska  88.0  86.1  85.5  85.5  82.5
2     Arizona  89.4  90.0  90.0  88.9  86.3
3    Arkansas  91.7  92.0  92.0  90.6  88.2
4  California  92.8  92.8  92.6  91.5  87.5

In [69]:
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  52 non-null     object
 1   2018      52 non-null     float64
 2   2017      52 non-null     float64
 3   2016      52 non-null     float64
 4   2015      52 non-null     float64
 5   2014      52 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.6+ KB